// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$violet-palette,
        tertiary: mat.$orange-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  color-scheme: dark;
  background-color: #0d1117;
  color: #e6edf3;
  font: var(--mat-sys-body-medium);
  margin: 0;
  height: 100%;
}

.full-width {
  width: 100%;
}

mat-card {
  border-radius: 12px !important;
  background-color: #161b22 !important;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
/* You can add global styles to this file, and also import other style files */
